body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input {
  width: 50%;
  font-size: 16px;
}
textarea {
  width: 50%;
  font-size: 12px;
}
select {
  font-size: 16px;
}
